@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --color-blue-axa-100: #5c5cb7;
  --color-blue-axa-200: #3d3daa;
  --color-blue-axa-300: #1f1f9c;
  --color-blue-axa-400: #00008f;
  --color-blue-axa-500: #00006d;
  --color-blue-axa-600: #010143;
}
